In [1]:
import numpy as np
import pandas as pd

In [2]:
x = pd.DataFrame({'a':[1,2,3,4,5],'b':[20,20,30,40,50]})

In [3]:
x

   a   b
0  1  20
1  2  20
2  3  30
3  4  40
4  5  50

In [7]:
a = x.columns
print(a)

Index(['a', 'b'], dtype='object')

In [5]:
x.index
#returns the info that is shown here right now

RangeIndex(start=0, stop=5, step=1)

In [8]:
x['b'].sum()
#add bitches in a column or so

160

In [9]:
def inc(x):
    x=x+100
    return x
#suppose wish to apply this whole function to a column , do next line

In [10]:
x['b'].apply(inc)

0    120
1    120
2    130
3    140
4    150
Name: b, dtype: int64

In [11]:
x.sort_values('b') #sort elements in a column
#indexes changes in whole table and other columns to according to ascending order of 
#column selected

   a   b
0  1  20
1  2  20
2  3  30
3  4  40
4  5  50

In [12]:
x[b
 ]

AttributeError: 'DataFrame' object has no attribute 'unique'